{% extends "layout.html" %}
{% block content %}
    <h1>History</h1><hr>
    {% if not sessions.items %}
        <p>Looks like you haven't logged any swims yet - <a href="{{ url_for('sessions.log_swim') }}">get to it!</a></p>
    {% endif %}
        <div class="card w3-animate-opacity">
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Date</th>
                            <th>Swim Type</th>
                            <th>Stroke</th>
                            <th>Distance (in yards)</th>
                            <th>Time (in seconds)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in sessions.items %}
                            <tr>
                                <th scope="row"><a href="{{ url_for('sessions.session', session_id=session.id) }}">{{ session.session_date }}</a></th>
                                <td>{{ session.swim_type }}</td>
                                <td>{{ session.swim_stroke }}</td>
                                <td>{{ session.swim_distance }}</td>
                                <td>{{ session.swim_time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    <center>
    {% for page_num in sessions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if sessions.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('main.history', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('main.history', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    </center>
{% endblock content %}
