<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styling -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}?v=2" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px; /* Set the fixed height of the footer here */
        line-height: 60px; /* Vertically center the text there */
        background-color: #f5f5f5;
      }

      body {
        background-color: #EEEEEE;
        padding-top: 5rem;
        margin-bottom: 100px; /* Margin bottom by footer height */
      }

      html {
        position: relative;
        min-height: 100%;
      }

      a.nav-link {
        transition:.2s;
      }
    </style>
    <!-- Title -->
    {% if title %}
        <title>Swim Log | {{ title }} </title>
    {% else %}
        <title>Swim Log</title>
    {% endif %}
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#"><i class="fas fa-fish"></i> <strong>Swim Log</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Left navigation -->
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a id="home" class="nav-link" href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a id="dashboard" class="nav-link" href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a id="history" class="nav-link" href="{{ url_for('history') }}"><i class="fas fa-history"></i> History</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a id="log_swim" class="nav-link" href="{{ url_for('log_swim') }}"><i class="fas fa-plus-circle"></i> Add Swim</a>
          </li>
          <li class="nav-item">
            <a id="account" class="nav-link" href="{{ url_for('account') }}"><i class="fas fa-user-circle"></i> Account</a>
          </li>
          <li class="nav-item">
            <a id="logout" class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a id="login" class="nav-link" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
          <li class="nav-item">
            <a id="register" class="nav-link" href="{{ url_for('register') }}"><i class="fas fa-user-check"></i> Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Content block -->
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock content %}
    </div>
    <footer class="footer">
      <div class="container">
        <p class="float-right">
          <a href="#top">Back to top</a>
        </p>
        <span class="text-muted">&copy; David Salazkin</span>
      </div>
    </footer>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
      $("#{{request.endpoint}}").parent().addClass("active"); })
    </script>
</body>
</html>
